.container {
    padding: 0;
    width: 460px;
}
.title {
    font-size: 18px;
}
.status-list {
    padding: 0;
    margin: 0;
    list-style: none;

    .status {
        display: inline-block;
        width: 66px;
        margin: 4px;
        text-align: center;
        line-height: 30px;
        border-radius: 6px;
        border: 1px solid #666;
        cursor: pointer;
    }

    .status-active {
        background-color: #0099ff;
        color: #fff;
    }
}
.btn-add {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #0099ff;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}